.side-nav {
    width: 250px;
}

#navhead {
    border-bottom-width: 5px;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
}

#photo {
    margin-top: 15px;
}

#name {
    margin-top: 0px;
    //text-shadow: 2px 2px 2px gray;
    font-family: 'Bree Serif', serif;
    font-size: 28pt;
}

#copyright {
    margin-top: 0px;
}

.context {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.socialmedia {
    margin: 5px;
}

h1 {
    font-family: 'Bree Serif', serif;;
}

body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    background-image: url(../media/base/forest.jpg);
    background-attachment: fixed;
    background-size: cover;
  }

main {
    margin-left: 250px;
    flex: 1 0 auto;
}

.page-footer {
    margin-left: 250px;
}

@media only screen and (max-width: 992px){
    main {
        margin-left: 0px;
    }
    .page-footer {
        margin-left: 0px;
    }
}

.side-nav a:hover {
    background-color: #80cbc4;
    transition: background-color .5s, color .5s;
}

.side-nav li.active {
    background-color: #80cbc4;
}

.side-nav li.active a{
    color: white;
    font-weight: bold;
}

section {
    background-color: white;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
    border-radius: 20px;
    //box-shadow: 5px 5px 6px gray;
    margin-bottom: 30px;
}

h3, h5, h6{
    text-align: center;
}

.footer-slim {
    margin-bottom: 0px;
}

.skill {
    text-align: center;
    font-weight: bold;
}

.skill-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}